/* Styling of the navigation bar at the top of the page and the body */
nav {
    align-items: center;
    justify-content: space-between;
    padding: 12px, 30px;
    float: left;
    display: flex;
    overflow: hidden;
    background-color: rgb(79, 0, 140);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}
nav a {
    float: left;
    display: block;
    color: rgba(221, 221, 221, 0.884);
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}
nav a:hover {
    background: rgb(132, 0, 233);
    color: rgb(255, 255, 255);
    opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}
nav div {
    display: block;
    font-size: 32px;
    float: left;
    display: block;
    color: rgba(221, 221, 221, 0.884);
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
nav div:hover{
    background: rgb(132, 0, 233);
    color: rgb(255, 255, 255);
    opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}
body {
    float: left;
    margin: 0px;
    background-color: rgb(19, 19, 19);
    margin-top: 65px;
}

    /* div styling */

/* about div */
#about {
    float: left;
    width: 49.7%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    align-content: center;
    border-left-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-left-width: 2px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-left-color: rgb(79, 0, 140);
    border-top-color: rgb(79, 0, 140);
    border-right-color: rgb(79, 0, 140);
}

/* commands div */
#commands {
    float: left;
    width: 49.7%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    align-content: center;
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 2px;
    border-right-width: 2px;
    border-left-color: rgb(79, 0, 140);
    border-right-color: rgb(79, 0, 140);
}

/* invite div */
#invite {
    float: left;
    width: 49.7%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    align-content: center;
    padding-bottom: 20px;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-color: rgb(79, 0, 140);
    border-right-color: rgb(79, 0, 140);
    border-bottom-color: rgb(79, 0, 140);
}

/* general header, centered paragraph, left-side paragraph, unorganized list, and invite button styling */
.header {
    color: white;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 4px solid rgb(79, 0, 140);
}
.paragraph {
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.paragraph a {
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.paragraph a:hover {
    color: rgb(127, 16, 213);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-underline-position: below;
}
.leftparagraph{
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.creditline{
    color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.creditline a {
    color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.creditline a:hover {
    color: rgb(127, 16, 213);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-underline-position: below;
}
.ul {
    color: white;
    position: relative;
    list-style-type: circle;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.invitebutton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(79, 0, 140);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.invitebutton:hover {
    background-color: rgb(96, 1, 169);
}
.invitebutton:active {
    background-color: rgb(96, 1, 169);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}